*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --p5:5px
}

body{
    background-image: url("palmera.jpg");
    background-position: center;

}

header{
    position: relative;
    background-color: rgb(255,255,255,0.5);
    height: 50px;
    border: 1px solid rgb(255,255,255,0.7);
    backdrop-filter: blur(5px);
    border-radius: var(--p5);
    margin: var(--p5);
}

ul{
    margin: 10px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color:rgb(255,255,255,0.7);
    padding: 5px;
    display: block;
}

nav a:hover{
    cursor:pointer;
    color:white;
    background-color: rgb(98, 167, 176);
    border-radius: var(--p5);
    box-shadow: 0 2px 2px rgba(10, 137, 255, 0.5);
}

nav > ul{
    display: flex;
    position:relative;
}

nav ul ul{
    position:absolute;
    display: none;
    top: 20px;
}

.n1:hover ul{
    display: block;
    background-color: rgba(255,255,255,0.5);;
    border-radius: var(--p5);
    border: 1px solid rgba(255,255,255,0.7);
}

.contenedor{
    display: grid;
    padding-left: 100px;
  grid-template-columns: 200px 200px;
  grid-gap: 2px;
}

.contenedor2{
    padding-left: 700px;
    position: relative;
    bottom: 400px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 1px;
    gap: 10px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    height: 55px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}


